<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增教师课程信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tc-add">
            <!--<div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">教师编号：</label>
                    <div class="col-sm-8">
                        <input name="tId" class="form-control" type="text">
                    </div>
                </div>
            </div>-->

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">教师名字：</label>
                    <div class="col-sm-8">
                        <select name="tId" th:with="values=${@teacherServiceImpl.selectTeacherList(null)}">
                            <option th:each="teacher : ${values}" th:text="${teacher.tName}" th:value="${teacher.tId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程编号：</label>
                    <div class="col-sm-8">
                        <input name="cId" class="form-control" type="text">
                    </div>
                </div>
            </div>-->

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程名称：</label>
                    <div class="col-sm-8">
                        <select name="cId" th:with="values=${@courseServiceImpl.selectCourseList(null)}">
                            <option th:each="course : ${values}" th:text="${course.cName}" th:value="${course.cId}"></option>
                        </select>
                    </div>
                </div>
            </div>
           <!-- <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除人：</label>
                    <div class="col-sm-8">
                        <input name="deleteBy" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="deleteTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除标记：</label>
                    <div class="col-sm-8">
                        <input name="delFlag" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/tc"
        $("#form-tc-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-tc-add').serialize());
            }
        }

        $("input[name='deleteTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>