<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改教室课程信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-rc-edit" th:object="${rc}">
        <input name="rcId" th:field="*{rcId}" type="hidden">
        <!--<div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">教室号：</label>
                <div class="col-sm-8">
                    <input name="rId" th:field="*{rId}" class="form-control" type="text">
                </div>
            </div>
        </div>-->
        <!--<div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">课程编号：</label>
                <div class="col-sm-8">
                    <input name="cId" th:field="*{cId}" class="form-control" type="text">
                </div>
            </div>
        </div>-->

        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">教室名称：</label>
                <div class="col-sm-8">
                    <select name="rId" th:with="values=${@roomServiceImpl.selectRoomList(null)}">
                        <option th:each="room : ${values}" th:text="${room.rName}" th:value="${room.rId}" th:selected="${currentRId}==${room.rId}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">课程名称：</label>
                <div class="col-sm-8">
                    <select name="cId" th:with="values=${@courseServiceImpl.selectCourseList(null)}">
                        <option th:each="course : ${values}" th:text="${course.cName}" th:value="${course.cId}" th:selected="${currentCId}==${course.cId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">星期：</label>
                <div class="col-sm-8">
                    <!--<input name="tTitle" th:field="*{tTitle}" class="form-control" type="text">-->
                    <select name="weekday" th:field="*{weekday}" class="form-control">
                        <option value="星期一">星期一</option>
                        <option value="星期二">星期二</option>
                        <option value="星期三">星期三</option>
                        <option value="星期四">星期四</option>
                        <option value="星期五">星期五</option>
                        <option value="星期六">星期六</option>
                        <option value="星期日">星期日</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">上课节次：</label>
                <div class="col-sm-8">
                    <label class="check-box">
                        <input type="checkbox" value="1" name="lessonNumber" th:field="*{lessonNumbers}" class="form-control"/>第一大节</label>
                    <label class="check-box">
                        <input type="checkbox" value="2" name="lessonNumber" th:field="*{lessonNumbers}" class="form-control"/>第二大节</label>
                    <label class="check-box">
                        <input type="checkbox" value="3" name="lessonNumber" th:field="*{lessonNumbers}" class="form-control"/>第三大节</label>
                    <label class="check-box">
                        <input type="checkbox" value="4" name="lessonNumber" th:field="*{lessonNumbers}" class="form-control"/>第四大节</label>
                    <label class="check-box">
                        <input type="checkbox" value="5" name="lessonNumber" th:field="*{lessonNumbers}" class="form-control"/>第五大节</label>
                </div>
            </div>
        </div>
        <!--<div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">上课节次：</label>
                <div class="col-sm-8">
                    <input name="lessonNumber" th:field="*{lessonNumber}" class="form-control" type="text">
                </div>
            </div>
        </div>-->
        <!--<div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">删除人：</label>
                <div class="col-sm-8">
                    <input name="deleteBy" th:field="*{deleteBy}" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">删除时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="deleteTime" th:value="${#dates.format(rc.deleteTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>-->
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/rc";
    $("#form-rc-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-rc-edit').serialize());
        }
    }

    $("input[name='deleteTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>