<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增课程信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-course-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程名称：</label>
                    <div class="col-sm-8">
                        <input name="cName" class="form-control" type="text">
                    </div>
                </div>
            </div>
          <!--  <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">专业号：</label>
                    <div class="col-sm-8">
                        <input name="majorId" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">专业名称：</label>
                    <div class="col-sm-8">
                        <select name="majorId" th:with="values=${@majorServiceImpl.selectMajorList(null)}">
                            <option th:each="major : ${values}" th:text="${major.majorName}" th:value="${major.majorId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学期编号：</label>
                    <div class="col-sm-8">
                        <input name="termId" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学期：</label>
                    <div class="col-sm-8">
                        <select name="termId" th:with="values=${@termServiceImpl.selectTermList(null)}">
                            <option th:each="term : ${values}" th:text="${term.termName}" th:value="${term.termId}"></option>
                        </select>
                    </div>
                </div>
            </div>

          <!--  <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学期结束：</label>
                    <div class="col-sm-8">
                        <select name="termId" th:with="values=${@termServiceImpl.selectTermList(null)}">
                            <option th:each="term : ${values}" th:text="${term.termEnd}" th:value="${term.termId}"></option>
                        </select>
                    </div>
                </div>
            </div>-->



            <!--<div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除人：</label>
                    <div class="col-sm-8">
                        <input name="deleteBy" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="deleteTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">删除标记：</label>
                    <div class="col-sm-8">
                        <input name="delFlag" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/course"
        $("#form-course-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-course-add').serialize());
            }
        }

        $("input[name='deleteTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>